
.Card {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  box-shadow: 0px 1px 1px 1.5px #d1d0cd;
  margin: 7px;
  width: 280px;
  padding: 10px;
  border-radius: 5px;

  h4 {
    font-size: 17px;
    margin: 3px;
    text-align: left;
    font-family: monospace;
    font-weight: bold;
    span {
      font-family: monospace;
      font-size: 15px;
      font-weight: normal;
    }
  }
}
